<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title> 
  <link rel="stylesheet" href="/style.css">
</head>

<body>
<div class="container">

  {{#if success_msg}}
    <div class="alert alert-success" role="alert">
      {{success_msg}}
    </div>
  {{/if}}

  {{#if error_msg}}
    <div class="alert alert-danger" role="alert">
      {{error_msg}}
    </div>
  {{/if}}
 
  <h1>Home </h1>
  <a href="/album" class="btn">Meus Álbuns</a>
  <a href="/logout" class="btn btn-delete" style="float: right;">Sair</a> 
  <hr style="border: 0; border-top: 1px solid #eee; margin: 20px 0;">

  <h3>Adicionar Nova Imagem</h3>
  <form action="/imagem" method="post">
    <label for="titulo"> Título: </label>
    <input type="text" id="titulo" name="titulo" value="" placeholder="Ex: Gatinho fofo" />
    <label for="url"> URL: </label>
    <input type="text" id="url" name="url" value="" placeholder="https://..."/>
    <button type="submit"> Adicionar Imagem</button>
  </form>
  <hr style="border: 0; border-top: 1px solid #eee; margin: 20px 0;">

  <h2>Minhas Imagens</h2>
  <div class="gallery">
    
    {{#each imagens}}

    <div class="foto-card">

      <div class="info">
        <h4>Foto: {{this.titulo}}</h4>
               <br>Dono: {{this.donoId}}
                <pre>{{{json this}}}</pre>
        <form action="/imagem/set-album/{{this._id}}" method="POST">
          <label for="albumId-{{this._id}}">Mover para:</label>
          <select name="albumId" id="albumId-{{this._id}}">
            <option value="">(Sem Álbum)</option>
            {{#each ../albuns}}
            <option value="{{this._id}}">{{this.nome}}</option>
            {{/each}}
          </select>
          <button type="submit" class="btn-move" style="width: 100%; margin-top: 5px;">Mover</button>
        </form>
      </div>

      <form action="/imagem/rename/{{this._id}}" method="POST" class="form-inline" style="margin-top: 10px;">
        <input type="text" name="novoTitulo" value="{{this.titulo}}" placeholder="Novo título" required>
        <button type="submit" class="btn-rename">OK</button>
      </form>

      <form action="/imagem/delete/{{this._id}}" method="post" style="margin-top: 10px;">
        <button type="submit" class="btn-delete" style="width: 100%;">Apagar</button>
      </form>
    </div>
  
    {{else}}
    <p>Você ainda não tem nenhuma imagem. Adicione uma no formulário acima!</p>
    {{/each}}
  </div>

</div> 
</body>

</html>